


@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Anton&family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Onest:wght@100..900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: #000000;
}
:root{
  --first-color:#B0B0B0;
}





.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.toph{
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  margin-top: 20px;
}
.toph h3{
display: flex;
  justify-content: center;
  align-items: center;
  color: var(--first-color);
  font-weight: 400;
}
.mheader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav{
  display: flex;
  gap: 60px;
}
header nav a{
font-weight: 400;
font-size: 18px;
}
.svg{
  width: 20px;
  height: 20px;
   animation: pulseScale 2s ease-in-out infinite;
  will-change: transform;
  animation-name: pulseScale;
}
@keyframes pulseScale {
  0%   { transform: scale(1);   }
  50%  { transform: scale(1.1); } 
  100% { transform: scale(1);   }
}
.logom{
  display: flex;
  gap: 10px;
  align-items: center;
}
.logo{
  width: 60px;
height: 74px;
}
.logotext{  
width: 146px;
height: 42px;
}
@media (max-width: 480px) {
  .toph{
    display: flex;
    flex-direction: column;
  }

  .menu-btn{
    min-width: 20px ;
  }
}